body {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    color: #fff;
}
a, a:hover, a:visited, a:active { 
    color: #fff;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/**********/
/* Layout */
/**********/
aside, footer, header, nav, section, article {
    display: flex;
    flex-direction: column;
}
body {
    overflow: hidden;
    margin: 0px;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: auto 100px;
    grid-template-areas:
       "left main"
       "bottom bottom";
    height: 100vh;
}
aside {
    background-color: #000;
    grid-area: left;
}
header {
    background: #111;
    position: fixed;
    width: calc(100vw - 250px);
    left: 250px;
}

main {
    background: #111;
    grid-area: main;
    min-height: calc(350px);
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    z-index: 3;
}

nav {
    margin-top: 100px;
}

footer {
    background: #222;
    grid-area: bottom;
}


/***************************/
/* Accessories & Florishes */
/***************************/
::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: 16px;
    background-clip: padding-box;
    min-height: 30px;
}
::-webkit-scrollbar-thumb {
    background-color: hsla(0,0%,100%,.3);
}

/***************************/
/* Part A: Left Navigation */
/***************************/
#logo {
    margin-left: 30px;
    margin-top: 10px;
}

.link {
    padding-right: 10px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
}



/********************************/
/* Part B: Header & Nav Styling */
/********************************/

header {
    flex-direction: row;
    justify-content: flex-end;
}

nav {
    flex-direction: row;
}

.categories {
    padding: 20px;
}

.button {
    border-radius: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid #FFF;
    margin: 10px;
}

#profile {
    background-color: rgb(34, 34, 34);
    border: 1px solid #000;
}





/*************************/
/* Part C: Artists Panel */
/*************************/

#featured-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.artist-card > div > img {
    width: 175px;
    height: 175px;
    align-self: center;
    border-radius: 50%;
    border: 0px;
}

.artist-card {
    width: 18%;
    height: 50%;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    border: 1px solid black;
    align-items: center;
    font-size: 15px;
    text-align: start;
    background-color: rgb(34, 34, 34);
}


/**************************/
/* Part D: Responsive UIs */
/**************************/

@media screen and (max-width: 1300px) {
    .artist-card {
        width: 25%;
    }
}

@media screen and (max-width: 1000px) {
    .artist-card {
        width: 33.3%;
    }
}


